.slide {
  height: 350px;
  width: 450px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  border: {
    style: solid;
    color: black;
  }
}

.innerCircle {
  position: absolute;
  background: #a9aaab;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -150px;

  &:hover {
    border-color: red;
  }

  h4 {
    position: absolute;
    margin: auto;
  }
}
